body {
    height: 3000px;
}

.navbar {
    width: 100%;
}

.container-fluid {
    margin-right: 120px;
    margin-left: 120px;
}

.content {
    height: 900px;
    width: 1310px;
    margin-left: 154px;
    margin-right: 154px;
}
