body {
    height: 3000px;
    background-color: rgb(233, 245, 255);
    font-family: 'Trebuchet MS', sans-serif;
}

.navbar {
    width: 100%;
}

.container-fluid {
    margin-right: 120px;
    margin-left: 120px;
}

.content {
    height: 900px;
    width: 1310px;
    margin-left: 154px;
    margin-right: 154px;
    margin-top: 90px;
}

.content > div {
    border-radius: 4px;
}

.settings-block {
    height: 900px;
    width: 600px;
    margin: auto;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.settings-section {
    width: inherit;
    height: 50px;
    border-bottom: solid 1px #6c757d;
}