@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="registration_selection">
        Для начала Вам нужно зарегистрироваться, если у вас еще нет аккаунта</a>
    </p>
</div>

