@{ ViewData["Title"] = "Политика конфиденциальности"; }
<h1>@ViewData["Title"]</h1>

<div class="col-3"></div>

<div class="col-6">
    <div class="text-center" style="margin-top: 5rem;">
        <h1 class="display-4">Политика конфиденциальности</h1>
        <p>Используйте эту страницу, чтобы подробно описать политику конфиденциальности вашего сайта.</p>
    </div>
</div>


<div class="col-3"></div>
