@{ ViewData["Title"] = "Профиль"; }

@*@if (HttpContext.Session.Get<string>("AuthReady") == "true")
{
     @if (HttpContext.Session.Get<RegisterModel>("AuthUser").Id == int.Parse(RouteData.Values["id"].ToString()))
     {*@
        <!-- Редактирование -->
        <div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog"
             aria-labelledby="myModalEdit" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="container">
                    <div class="col-12">
                        <div class="modal-content">
                            <div class="modal-body">
                                <form name="auth" method="POST">

                                    <div class="form-group col-md-3">
                                        <div class="profile-header-img" style="width: 100px; height: 100px;">
                                            <img src="~/img/noavatar.png" alt="Your avatar"> 
                                        </div><br><br>
                                        <label style="margin-top: 2rem;" for="exampleAvatar">Сменить аватар:</label>
                                        <input type="file" class="form-control-file" id="exampleAvatar">
                                    </div>

                                    <div class="form-row">

                                        @*<div class="form-group">
                                            <label for="exampleInputNickname">Псевдоним:</label>
                                            <input asp-for="User.Login" type="text" class="form-control" id="exampleInputNickname"
                                                   pattern="^(?!.*\.\.)(?!\.)(?!.*\.$)(?!\d+$)[a-zA-Z0-9.]{3,20}$" placeholder="Введите псевдоним..." required>
                                            <span class="alert-danger" asp-validation-for="User.Login"></span>
                                        </div>*@

                                        @*<div class="form-group">
                                            <label for="exampleInputNickname">Псевдоним:</label>
                                            <input asp-for="User.Name" type="text" class="form-control" id="exampleInputNickname"
                                                   pattern="^(?!.*\.\.)(?!\.)(?!.*\.$)(?!\d+$)[a-zA-Z0-9.]{3,20}$" placeholder="Введите псевдоним..." required>
                                            <span class="alert-danger" asp-validation-for="User.Name"></span>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputNickname">Псевдоним:</label>
                                            <input asp-for="User.SurName" type="text" class="form-control" id="exampleInputNickname"
                                                   pattern="^(?!.*\.\.)(?!\.)(?!.*\.$)(?!\d+$)[a-zA-Z0-9.]{3,20}$" placeholder="Введите псевдоним..." required>
                                             <span class="alert-danger" asp-validation-for="User.SurName"></span>
                                        </div>*@

                                        <div class="form-group col-md-6" style="margin-left: 1rem;">
                                            <label for="InputPassword">Пароль:</label>
                                            <input required="" type="password" name="InputPassword"
                                                   class="form-control" id="InputPassword"
                                                   pattern="(?=^.{6,}$)(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z]).*" placeholder="Введите пароль..."
                                                   title="Должно содержать по крайней мере одно число, одну заглавную и строчную буквы, а также не менее 6 и более символов">
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Сохранить</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @*}
}*@

<!-- main -->
<div class="col-md-1"></div>

<div class="col-md-10">
    <div class="twPc-div">
        <a class="twPc-bg twPc-block"></a>

        <div>
            <div class="twPc-button">
                <a href="" class="twitter-follow-button" data-show-count="false"
                   data-size="large" data-show-screen-name="false" data-dnt="true">Follow</a>
            </div>

            <a title="Dias Bolatov" href="" class="twPc-avatarLink">
                <img alt="Mert S. Kaplan" src="~/img/noavatar.png" class="twPc-avatarImg">
            </a>

            <div class="twPc-divUser">
                <div class="twPc-divName">
                    <h4 style="color: white;" class="m-t-10 m-b-5">Dias Bolatov</h4>
                </div>
                <span>
                    <span>thebangladesh</span>
                </span>
            </div>

            <div class="twPc-divStats">
                <ul class="twPc-Arrange" style="margin-left: 15rem;">
                    <li class="twPc-ArrangeSizeFit">
                        <span class="twPc-StatLabel twPc-block">Посты</span>
                        <span class="twPc-StatValue">100</span>
                    </li>
                    <li class="twPc-ArrangeSizeFit" style="margin-left: 2rem;">
                        <span class="twPc-StatLabel twPc-block">Подписки</span>
                        <span class="twPc-StatValue">100</span>
                    </li>
                    <li class="twPc-ArrangeSizeFit">
                        <span class="twPc-StatLabel twPc-block">Подписчики</span>
                        <span class="twPc-StatValue">100</span>
                    </li>
                </ul>
            </div>

            <button type="button" class="btn btn-outline-primary"
                data-toggle="modal" data-target="#ModalEdit">
                Редактировать профиль
            </button>
        </div>
    </div>

    <div id="content" class="content content-full-width">

        <!-- Создание постов -->
        <!-- Profile content -->
        <div class="profile-content" style="margin-top: 4rem;">
            <div class="tab-content p-0">
                <div class="tab-pane fade active show" id="profile-post">

                    <div class="container">
                        <div class="row">

                            <div class="col-7">
                                <ul class="timeline">
                                    <li>

                                        <!-- <div class="timeline-time">
                                          <span class="date">Сегодня</span>
                                          <span class="time">13:54</span>
                                        </div> -->

                                        <div class="timeline-body">
                                            <div class="timeline-header">

                                                <span class="userimage">
                                                    <img src="~/img/noavatar.png" alt="Your avatar">
                                                </span>

                                                <span class="username">
                                                    <a href="javascript:;">Dias Bolatov</a> <!-- Ну тут никнейм (псевдоним) от айдишника -->
                                                    <small></small>
                                                </span>

                                            </div>
                                            <div class="timeline-content">
                                                <p style="font-size: 18px">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis tincidunt luctus.
                                                    Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.
                                                </p>
                                            </div>

                                            <!-- Количество лайков и комментариев поста -->
                                            <div class="timeline-likes">
                                                <div class="stats-right" style="font-size: 15px">
                                                    <span class="stats-text">Комментарии: 1</span>
                                                </div>
                                                <div class="stats">
                                                    <span class="fa-stack fa-fw stats-icon">
                                                        <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                                        <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                                                    </span>
                                                    <span class="fa-stack fa-fw stats-icon">
                                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                        <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                    <span class="stats-total" style="font-size: 15px">Лайки: 2 </span>
                                                </div>
                                            </div>
                                            <div class="timeline-footer">
                                                <a href="javascript:;" class="m-r-15 text-inverse-lighter">
                                                    <i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Лайк
                                                </a>
                                                <a href="javascript:;" class="m-r-15 text-inverse-lighter">
                                                    <i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Комментарии
                                                </a>
                                            </div>

                                            <!-- Комментарий -->
                                            <div class="timeline-comment-box">
                                                <div class="user">
                                                    <img src="~/img/noavatar.png" alt="Your avatar">
                                                </div>
                                                <div class="input">
                                                    <form action="">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control rounded-corner" placeholder="Напишите что-нибудь...">
                                                            <span class="input-group-btn p-l-10">
                                                                <button style="margin-left: 1rem;" class="btn btn-primary f-s-12 rounded-corner" type="button">
                                                                    Отправить
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </li>

                                    <!-- Прокрутка вниз с загрузкой поста -->
                                    <li>
                                        <div class="timeline-body">
                                            Загрузка...
                                        </div>
                                    </li>

                                </ul>
                            </div>

                            <div class="col-5">1</div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-md-1"></div>

